body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
    url("bg.jpg")no-repeat center bottom fixed;
    background-size: cover;
    margin: 0;
    font-family: Avenir, sans-serif;
    color: white;
}
header {
    color: #fff;
    text-align: center;
    border-radius: 7px;

}
.head {
    text-align: center;

}
h1 {
    padding: 15px 5px 5px 5px;
    display: inline-block;
    margin-top: 100px;
}
ul {
    padding: 0;
    width: 100%;
    margin: 0;
    background-color: #000000d0;
    position: fixed;

}

.nav {
    text-align: center;
}
.nav li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;

}
.nav a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 30px 10px 30px;
}
.nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.nav .selected {
    background-color: darkred;
}
main {
    margin: 8px;
    text-align: center;
}

.para {
    margin-left: 150px;
    margin-right: 150px;
}
img {
    width: 600px;
    height: 400px;
}
video {
    width: 600px;
    height: 400px;
    padding: 0;
}
#text {
    padding-top: 80px;
}
#map {
    width: 600px;
    height: 400px;
    margin: auto;
}
#footer {
    clear: both;
    padding: 5px;
    background-color: transparent;
    color: white;
    text-align: right;
}
@media screen and (max-width: 650px) {
    header {

    }
    .nav li {
        padding: 5px;
    }
    h2 {
        margin-top: 70px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #map {
        width: 350px;
        height: 225px;
    }
    img {
        width: 350px;
        height: 225px;
    }
    video {
        width: 350px;
        height: 225px;
    }
    .para {
        margin: auto;
    }
}
@media screen and (max-width: 920px) {
    video {

    }
}

/* flavours.html:n CSS */

.imggrid{

    display:inline-grid;
    grid-template-columns:auto auto auto;
    grid-gap:30px;

}


.grid {
    height:200px;
    width:300px;
    padding:10px;
    cursor:pointer;

}

.clearfix {
    overflow:auto;
    position:relative;


}
.clearfix:hover .overlay{

    opacity: 0.6;
}
.gridtext{
    text-align: center;
    font-size:small;
}

.overlay {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:auto;
    width:auto;
    opacity:0;
    transition: .5s ease;
    background-color: black;
}
.overtext{
    color:white;
    font-size: 20px;
    position:absolute;
    top:45%;
    bottom:55%;
    left: 45%;
    right: 55%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
}

.underline{
    text-decoration: underline;
}





/* flavours.html:n CSS */
