/* Base */

body {
    font-family:"Avenir Next",Avenir, sans-serif;
    color: white;
    margin: 0;
}

header {
    color: #fff;
    text-align: center;
    border-radius: 7px;
}

.head {
    text-align: center;

}

#nav ul {
    position: fixed;
    padding: 0;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
}

#nav {
    text-align: center;
}

#nav li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;

}

#nav a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 30px 10px 30px;
}

#nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#nav .selected {
    background-color: darkred;
}

main {
    margin: 8px;
    text-align: center;
}

.para {
    margin-left: 150px;
    margin-right: 150px;
}
img {
    width: 600px;
    height: 400px;
}
video {
    width: 600px;
    height: 400px;
}
#text {
    padding-top: 40px;
}

/* Base */


/* Coffee.html:n CSS */

.container{
    margin: 0 auto;
    background: white;
    text-align: center;
    line-height: 200%;
    color: black;
}

.container p {
    margin: 40px 0 40px 0;
}

.parallax {
    min-height: 480px;
    background: transparent;
    text-align: center;
}
.info{
    z-index: 2;
    color: white;
    font-size: 50px;
    position: relative;
}
.info p {
    margin: 0;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 15px;
}
.footer p {
    padding: 2vw 3vw 2vw 3vw;
}

/* Coffee.html:n CSS */


/* Responsive */

@media screen and (max-width: 650px) {
    .nav li {
        padding: 5px;
    }

    .para {
        margin: auto;
    }
}

/* Responsive */
